.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    background-color: rgb(195, 215, 236);
    padding: 10px;
}
.main-container > div {
    background-color: rgb(195, 215, 236);
    text-align: center;
      
}
.gem {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-container .box1 {
    grid-column: 1 / 5;
    margin-top: 10px;
}
.main-container .box2 {
    grid-column: 1 / 5;
    display: flex;
    justify-content: right;
    padding-right: 40px;
    height: 450px;
    background-image: url('mila.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
}
.main-container .box3 {
    display: flex;
    grid-column: 1 / 3;
    text-align: left;
    
}
.main-container .box4 {
                
    display: flex;
    grid-column: 3 / 5;
    text-align: left;
}
.main-container .box5 {
    display: flex;
    grid-column: 1 / 3;
    text-align: left;
}
.main-container .box6 {
    display: flex;
    grid-column: 3 / 5;
    text-align: left;
}
.main-container .box7 {
    grid-column: 1 / 5;
    background-color: rgb(107, 107, 231);
    border-radius: 30px 0px;
}
.links {
    display: flex;
    gap: 30px;
    justify-content: start;
}
.links > a {
    text-decoration: none;
    background-color: rgb(168, 197, 241);
    color: black;
    border-radius: 40px 0px;
    border: 1px solid white;
    font-size: 15px;
    padding: 20px;
    
}
.end {
    font-size: 20px;
}
.smallPhotos {
    width: 250px;
    height: 150px;
    border: 1px solid;
    padding: 10px;
}
h2 {
    font-size: 30px;
    padding-left: 10px;
    margin-top: 0%;
}
p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#firstbox {
    text-align: end;
}

    
        

    

    



    